.chart {
	shape-rendering: crispEdges;
	/* background-color: #000; */
}

.shape {
	stroke-width: 3px;
	stroke: #000;
}

.mini text {
	font: 9px sans-serif;
}

.main text {
	font: 12px sans-serif;
}

.miniItem0 {
	fill: darksalmon;
	stroke-width: 6;
	//opacity: 0.5;
}

.miniItem1 {
	fill: darkolivegreen;
	fill-opacity: .7;
	stroke-width: 6;
}

.miniItem2 {
	fill: slategray;
	fill-opacity: .7;
	stroke-width: 6;
}

.line {
	stroke: #000;
	stroke-width: 5px;
}

.brush .extent {
	stroke: gray;
	fill: dodgerblue;
	fill-opacity: .365;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
